/* BODY */

body{
    margin:auto;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #A0490E; */
    background-color: #b22924;
    width: 100vw;
    height: 22vh;
    min-width:100vw;
}

#logorestau, #namerestau {
    display: flex;
    justify-content: center;
}

h1 {
    display:none;
    color:#d7cda0ab;
    font-size: 2em;
    font-family: 'Rowdies', cursive;
    text-transform: uppercase;
}

/* BURGERS */

p{
    margin:3%;
}

.burgers, .sides, .desserts{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding:0.5em;
 /* box-shadow: 0 0 5px #cccccc; */
 margin: 0.5em;
 border-radius: 10px;
 background-color: #d7cda043 ;
 /* background-color: rgb(112,127,150, 0.1); */
}


.drinks {
    box-shadow: 0 0 5px #cccccc;
    margin: 0.5em;
    padding:0.5em;
}

.picandside {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}

.foodpic{
    border-radius: 50%;;
    grid-column: 1/3;
    grid-row: 1/5;
}

.foodpic:hover{
    transform:scale(1.3);
    z-index: 2;
    grid-column: 2/4;
}

.encart{
   display: flex;
   /* background-color:#fecf03 ; */
   background-color: #facf49;
   /* opacity: 0.85;  */
   color:#347850;
   z-index: 1;
   font-size: 0.8em;
   grid-column: 2/5;
   grid-row: 4/6;
   font-size: 1em;
   border-radius: 10px;
   width: 50%;
}

h4{
font-size: 1em;
color:#b22924;
text-transform: uppercase;
font-family: 'Rowdies', cursive;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top : 1vh;
    /* background-color: #347850; */
    opacity: 0.7;
    padding:0.5em;
    width: 96%;
}

input {
    border-radius: 10px;
    width:5vw;
}

button{
    border-radius: 50%;
    background-color: #b22924;
    color:white;
    border-style:none;
    width: 30px;
    height:30px;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color:#b22924;

}

h3{
    font-family: 'Rowdies', cursive;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 1em;
    color:#347850;
    text-transform: uppercase;
}

.drinks {
    margin : 1em;
}

.inline {
    display: flex;
    align-items: center;
}

/* RECAP */

.recap {
    margin: 2px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    border: solid 3px grey;
    overflow: scroll;
    min-height:20vh;
}

#validate {
    border-radius: 10px;
    width: 90%;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    /* background-color: #A0490E; */
    background-color: #b22924;
    bottom:0;
    color:#fff;
    padding:2vw;
    align-items: center;
}

.contact, .address, .location{
    display: flex;
    flex-direction: column;
    align-items:center;
}

h2 {
    font-size: 1em;
}

iframe {
    border:solid 5px #facf49;
}


/* RESPONSIVE TABLET */

@media screen and (min-width:640px){
    
    header{
        justify-content: space-around;
    }

    #logo {
        width:150px;
    }

    h1{
        display: block;
    }

    body {
        display: grid;
    }

    .burgers-section, .sides-section, .desserts-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 4fr, 4fr;
    }

    h3 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .drinks-section {
        display:grid;
    }

    .recap {
        margin-left: 5em;
        margin-right: 5em;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        }
}

/* RESPONSIVE DESKTOP */
@media screen and (min-width:1024px){

    header{
        height:35vh;
    }
     #logo {
        width: 230px;
    }
    
        .address {
            display: flex;;
        }
    
  
}