h3 {
    font-size: 28px;
    color: #848C14;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: bold;
}


h2 {
    font-size: 15px;
    text-align: center;
    color: #347850;
    text-transform: uppercase;
    font-weight: bold;
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.error {
    color: #b60000;
    font-size: 11px;
    text-align: start;
}

.contact {
    border: none;
    background-color: #face49c3;
    border-radius: 10px;
    padding: 10px;
    grid-column: auto;
    margin-right: 5px;
}

.paiement {
    border: none;
    background-color: #face49c3;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    grid-column: auto;
    flex-direction: row;
    margin-right: 5px;
}

#formCB {
    display: block;
}

#appoint {
    display: none;
}

p {
    text-align: center;
}

.recap {
    border: none;
    background-color: #face49c3;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
}

#button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#submit {
    margin-top: 20px;
    color: white;
    background-color: #A0490E;
    border: none;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
    padding: 8px;
}

.inputs,
input[type="text"] {
    border-radius: 10px;
    margin-bottom: 5px;
    border: none;
}

/* Responsive */
@media screen and (max-width:640px) {
    h3 {
        font-size: 19px;
        text-align: center;
    }

    .block {
        display: grid;
        grid-template-rows: auto;
        grid-gap: 10px;
        justify-items: center;
    }

    .contact {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .paiement {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .recap {
        width: 100%;
        text-align: center;
    }
    /* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #A0490E; */
    background-color: #b22924;
    width: 100vw;
    height: 22vh;
    min-width:100vw;
}

#logorestau, #namerestau {
    display: flex;
    justify-content: center;
}

h1 {
    display:none;
    color:#d7cda0ab;
    font-size: 2em;
    font-family: 'Rowdies', cursive;
    text-transform: uppercase;
}
}