* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recap ul {
    width: 50%;
    text-align: center;

}

.recap ul li {
    margin: .3rem auto;
}

.recap div {
    border: 4px solid pin;
}

.titre h2{
    margin: 3rem auto;
    text-decoration: underline chocolate;
}
#header h1{
    margin: 3rem auto;
    text-decoration: underline chocolate;
}

#nombre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#nombre h2 {
    margin: .5rem;
}


body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: aliceblue;
    padding: 0;
    margin: 0;
}

nav {
    height: 70px;
    width: 100%;
    background: rgb(188, 179, 155);

}


nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.item-nav {
    display: inline-block;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
    ;

}

.item-nav a {
    text-decoration: none;
    color: chocolate;

}

.combien {
    text-align: center;
    border: 1px red solid;
}

.combienMinus,
.combienPlus,
.combienValue {
    padding: .2rem .5rem;
    font-weight: 900;
    font-size: larger;
}

.combienValue {
    width: 3rem;
    text-align: center;

}

#header h1 {
    text-align: center;
    background-size: cover;
    font-size: 30px;

    color: black;
}

@media (max-width:800px) {
    #header h1 {
        font: 25px;
        color: aliceblue;
    }

}

.card1 {
    display: flex;
    justify-content: space-between;
}

.card2 {
    display: flex;
    justify-content: space-between;
}

.card3 {
    display: flex;
    justify-content: space-between;
}

.card4 {
    display: flex;
    justify-content: space-between;
}

.card5 {
    display: flex;
    justify-content: space-between;
}

.titre h2 {
    text-align: center;
    font-size: 30px;
    color: black;


}

@media (max-width:800px) {
    .titre h2 {
        font-size: 25px;
        color: aliceblue;

    }
}

.carte1 {
    width: 70%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    border: 1px solid black;
    /*pour center ma carte*/
}

.carte1 img {
    width: 100%;
    /*il prend 100% de la carte, son parent*/
}

.carte1 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte1 p {
    padding: 20px;
}

.carte2 {
    width: 70%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    border: 1px solid black;
    /*pour center ma carte**/
}

.carte2 img {
    width: 100%;
    /*il prend 100% de la carte, son parent*/
}

.carte2 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte2 p {
    padding: 20px;
}

.carte3 {
    width: 70%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    border: 1px solid black;
    /*pour center ma carte**/

}

.carte3 img {
    width: 100%;
    /*il prend 100% de la carte, son parent*/
}

.carte3 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte3 p {
    padding: 20px;
}

.carte4 {
    width: 70%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    border: 1px solid black;
    /*pour center ma carte**/
}

.carte4 img {
    width: 100%;
    /*il prend 100% de la carte, son parent*/
}

.carte4 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte4 p {
    padding: 20px;
}

.carte5 {
    width: 70%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    border: 1px solid black;
    /*pour center ma carte**/
}

.carte5 img {
    width: 100%;
    /*il prend 100% de la carte, son parent*/
}

.carte5 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte5 p {
    padding: 20px;
}

.carte6 {
    width: 70%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    border: 1px solid black;
    /*pour center ma carte**/
}

.carte6 img {
    width: 100%;
    /*il prend 100% de la carte, son parent*/
}

.carte6 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte6 p {
    padding: 20px;
}

.carte7 {
    width: 70%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    /*pour center ma carte**/
    border: 1px solid black;
}

.carte7 img {
    width: 100%;
    /*il prend 100% de la carte, son parent*/
}

.carte7 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte7 p {
    padding: 20px;
}

.carte8 {
    width: 70%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    border: 1px solid black;
    /*pour center ma carte**/
}

.carte8 img {
    width: 100%;
    /*il prend 100% de la carte, son parent*/
}

.carte8 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte8 p {
    padding: 20px;
}

.carte9 {
    width: 50%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    border: 1px solid black;
    /*pour center ma carte**/
}

.carte9 img {
    width: 100%;
    /*il prend 100% de la carte, son parent*/
}

.carte9 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte9 p {
    padding: 20px;
}

.prix {
    text-align: center;
    margin: 3px 0 0 0;
    text-decoration: underline;
    font-size: 17px;
    color: black;
}

span {
    text-align: center;
    margin: 3px 0 0 0;
}

.carte10 {
    width: 70%;
    /*70% de largeur*/
    max-width: 500px;
    /*taille max à ne pas dépasser*/
    min-width: 280px;
    /*taille min ne pas dépasser*/
    height: auto;
    /*prend tout ce qui est sur la carte**/
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    border: 1px solid black;
}

.carte10 img {
    width: 100%;
    /* il prend 100% de la carte, son parent*/
}

.carte10 h3 {
    text-align: center;
    margin: 10px 0 0 0;
}

.carte10 p {
    padding: 20px;
}

.recap {
    border: 2px solid black;
    border-radius: .6rem;
    width: 40rem;
    height: 40rem;
    padding: 2rem;
    margin: auto;
    text-align: center;
    overflow: scroll;
}

.recap h1 {
    text-align: center;
    text-decoration: underline;
}

.recap p {
    text-decoration: underline;
    margin: 2rem;
    font-size: 20px;
}

.btn {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    padding: 20px;
    color: chocolate;
}
.btn button{
    color: chocolate;
    font-size: 1.3rem;
    border: .1rem solid black;
    border-radius: 20rem;

}

.footer {
    display: flex;
    border: 3px solid rgb(188, 179, 155);
    background: rgb(188, 179, 155);
    background-size: cover;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.map h3 {
    display: flex;
    justify-content: space-between;
}


/********************Partie Payement*********** */


.titre-paiement h1{
    text-align: center;
    margin-top: 2px auto;
    text-decoration: underline chocolate;
    font-size: 25px;
    line-height: 100px;
}
.container{
    /* width: 550px; */
    /* height: 520px; */
    width: 35rem;
    height: 30rem;
    background: rgb(232, 171, 171);
    margin: 100px auto;
    border-radius: 5px;
}

.contMontant{
    text-align: center;
    font-size: 20px;
    height: 90px;
    border-bottom: 1px dashed #000;
}
.contMontant p{
    line-height: 90px;
}
.inpFull{
    width: 100%;
    height: 100px;
}
.inpFull:nth-child(1){
    border-bottom: 1px dashed #000;
}

.inpFull label{
    float: left;
    width: 30%;
    height: 100%;
    font-size: 22px;
    display: block;
    line-height: 96px;
    padding-left: 30px;
    cursor: pointer;
}

.inpFull input{
    width: 53%;
    height:100%;
    border: none;
    padding-left: 5px;
    font-size: 18px;
    text-align: center;
    background: none;
    cursor: pointer;
}

.inpFull input::placeholder{
    font-size: 15px;
    opacity: 0.8;;
}

input:active, input:focus{
    outline: none;
    background: #f1f1f1;
}
.contExSecu{
    width: 100%;
    height: 80px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.inpExp{
    width: 48%;
    height: 100%;
    float: left;
    border-right: 1px dashed black;
}
.inpExp label{
    font-size: 16px;
    line-height: 80px;
    padding-left: 10px;
    padding-right: 20px;
}

select{
    border: none;
    cursor: pointer;

}

.select2{
    width: 60px;
    cursor: pointer;
}
.inpSecu{
    width: 40%;
    height: 30%;
    float: right;
    position: relative;
}
.inpSecu label {
    font-size: 15px;
    line-height: 80px;
}

.inpSecu input{
    width: 50%;
    height: 100%;
    border: none;
}

.inpSecu input::placeholder{
    opacity: 0.8;
}

.contBtn{
    position:relative;
    height: 105px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
.contBtn button{
    background: rgb(194,194,194);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 35px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 999px;
    transition: 0.2s ease background;
    box-shadow: 5px 5px 5px 5px;
}
button:hover{
    background: aliceblue;
}
